:root {
    --primary-color: #1F77B4;  
    --secondary-color: #2CA02C;  
    --accent1-color: #17BECF;  
    --accent2-color: #D4A02A;  
}

h1 {
    color: var(--primary-color);
}

h2 {
    color: var(--secondary-color);
    
}

p {
    padding: 0;
}

footer a{
    text-decoration: none;
}

main {
    max-width: 1500px;
    margin: 0 auto;
    padding: 20px;
}

.hero {
    position: relative;
}

.hero h1 {
    color: var(--primary-color);
    position: absolute;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    background-color: rgba(255, 255, 255, 0.6); 
    padding: 10px;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero article {
    position: absolute;
}

article img {
    float: right;
}
