:root {
    --padding: 1rem;
    --border: 1px solid black;
}

nav {
    background-color: darkblue;
    padding: var(--padding);
}

nav a {
    color: white;
    display: block;
    padding: var(--padding);
}

h1 {
    color: darkblue;
}

main {
    max-width: 800px;
}

main img {
    width: 150px;
    height: auto;
    border: var(--border);
    padding: var(--padding);
    box-shadow: 0 0 30px gray;
}

p {
    padding: 0;
}

aside {
    width: 500px;
    margin: 5px;
    border: var(--border);
    padding: var(--padding);
    background-color: lightblue;
    color: black;
}

aside img {
    width: 150px;
    height: auto;
}

footer {
    margin-top: 10px;
    border-top: 1px solid black;
    text-align: center;
}